@charset 'UTF-8';
/* カスタマイズCSS */
/* ============================== */
/* Generic                        */
/* ============================== */
/* ============================== */
/* Base                           */
/* ============================== */
h1 {
	font-size: 28px;
}

p {
	font-size: 14px;
}

p:nth-child(2n) {
	color: #66C;
}

p:first-letter {
	margin: 0 .1em 0 0;
	font-size: 1.5em;
	line-height: 1.2;
}

/* ============================== */
/* Objects                        */
/* ============================== */
/* ============================== */
/* Components                     */
/* ============================== */
/* ============================== */
/* trumps                         */
/* ============================== */
.cx:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

@media screen and (max-width: 599px) {
	/* ============================== */
	/* Generic                        */
	/* ============================== */
	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	/* ============================== */
	/* Base                           */
	/* ============================== */
	html {
		font-size: 62.5%;
	}

	/* ============================== */
	/* Objects                        */
	/* ============================== */
	/* ============================== */
	/* Components                     */
	/* ============================== */
	/* ============================== */
	/* trumps                         */
	/* ============================== */
}
